doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')

  body
    .wireframe
      .statusbar 
        .left 
          i FFFone
        .right 18:42

      block wireframe

    .title
      block title

    .explanation
      h1= title

      block explanation