extends layout

block wireframe

  .caption Welcome to FirefoxOS

  .yes-no
    a(class='button', href='/setupPIN') Next ...

block explanation

  ul
    li Auth over radio
    li Do we get the phone number?  Or what?
